/*setting variables*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.container2 {
  margin: auto;
  padding: 3rem;
}
/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  /*since i didn't give a particular font or px it will be 16px hence 2rem =32px;*/
}
.right-nav {
  display: flex;
}
.right-nav a {
  color: black;
  transition: 0.2s;
  text-decoration: none;
  padding: 10px;
}
/*showcase section*/
.main-info {
  background-color: #D3D3D3;
}
.image {
  max-width: 100%;
  margin: auto;
}
h2 {
  font-size: 2.5rem;
}
.info-bio {
  font-size: 1.2rem;
  padding: 0.5rem;
}
/*button*/
.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
  color: #FFF;
  background-color: #808080;
}
/*using mixing for the profile section
Skills section*/
.skills-container {
  display: flex;
}
.Profile_Skill {
  display: flex;
}
.Profile_skill_section {
  padding: 2rem 0;
}
.Profile {
  padding-right: 0.6rem;
  line-height: 1.8rem;
}
/* Work history */
.Work-History-section {
  padding-bottom: 2rem;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #FFF;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #BEBEBE;
}
/* Footer section */
.copyright {
  color: #FFF;
  text-align: center;
}
.copyright-section {
  background-color: #808080;
  padding: 2rem;
}
